<mat-toolbar class="app-toolbar" color="primary" *ngIf="authService.isLoggedin1()">
  
      <mat-toolbar-row>
        <!-- <button mat-icon-button>
          <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button> -->
        <h1>EMA</h1>
        <span class="menu-spacer"></span>
        <div>
          <a *ngIf="authService.currentuser===null" mat-button routerLink="/login"> Login</a>
          <!-- <ng-template #elseBlock><a mat-button (click)="logout()"> Logout</a> </ng-template> -->
        </div>
        <span class="example-spacer"></span>
        {{authService.currentuser.firstname}}
        <button mat-button [matMenuTriggerFor]="menu"><mat-icon>account_circle</mat-icon></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">Logout</button>
          <button mat-menu-item>Profile</button>
        </mat-menu>
      </mat-toolbar-row>

</mat-toolbar>

    <mat-drawer-container class="example-container">
      <mat-drawer *ngIf="authService.currentuser!==null" mode="side" opened>
        <mat-nav-list>
          <a *ngIf="authService.currentuser.role==0" mat-list-item routerLink="/dashboard/employeelist"> Lists of Employees </a>
          <a *ngIf="authService.currentuser.role==0" mat-list-item routerLink="/dashboard/userlist"> Lists of Users </a>
          <a mat-list-item routerLink="/dashboard/eventslist"> Lists of Events </a>
        </mat-nav-list>
      </mat-drawer>
      <mat-drawer-content> 
        <div style="height: 100%;">
          <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
    </mat-drawer-container>