.image {

    overflow-x:hidden;
    overflow-y:hidden;
}

.container-fluid {
    /* background-color:#fff0d1ff ; */
    background-color: white;
}

.main {
    /* background-color:#fff0d1ff ; */
    background-color: white;
}