<div class="container">
  <br>
  <h2>List of Employees</h2>
  <div *ngIf = "employees" class="w-75 mt-2 mx-auto">
    <button mat-raised-button color="primary" routerLink="/addemployee" style="float: right;">Add Employee</button>
    <table datatable [dtOptions]="dtOptions" class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Salary</th>
            <th scope="col">Edit/Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of employees">
              <td class="cursor" (click)="selectemployee(emp)">{{emp.id}}</td>
              <td>{{emp.name}}</td>
              <td>{{emp.age}}</td>
              <td>{{emp.salary}}</td>
              <td>
                <button mat-raised-button color="primary" (click)="editEmployee(emp)">Edit</button>
                <button mat-raised-button color="warn"(click)="deleteEmployee(emp)">Delete</button>
              </td>
          </tr>
        </tbody>
    </table>
  </div>
</div>


